{{ define "title" }}
Index - {{.Site.Title}}
{{ end }}
{{ define "main" }}
  <main>
    <div class="homepage-header">
      <h2>{{ .Title }}</h2>
      {{ with .Params.subtitle }}
        <span class="subtitle">{{ . }}</span>
      {{ end }}
    </div>
    <br>
    <div class="blog-list">
      {{ range first 10 (where .Site.Pages "Section" "posts") }}
        {{ range .Pages}}
          {{ partial "blogpost.html" .}}
        {{ end }}
      {{ end }}
    </div>
    <article class="homepage-content projects">
      <!-- Pull from content/projects/_index.md -->
      {{ with .Site.GetPage "section" "projects"}}{{ .Content}}{{end}}
    </article>
    <div class="project-list">
      {{ range first 10 (where .Site.Pages "Section" "projects") }}
        {{ range .Pages}}
          {{ partial "blogpost.html" .}}
        {{ end }}
      {{ end }}
    </div>
  </main>
{{ end }}

