@import url("/styles/header.css");
@import url("/styles/footer.css");
@import url("/styles/details.css");
@import url("/styles/language-switcher.css");
@import url("/styles/blog-post.css");

:root {
    --background-color: rgb(31,29,29);
    --secondary-background-color: rgb(43, 40, 40);
    --tertiary-background-color: rgb(53,41,41);
    --border-color: rgb(70, 65, 65);
    --text-color: rgb(230,222,222);
    --header-link-size: 38px;
    --language-switcher-link-size: 24px;
}

@font-face {
    font-family: 'Rethink Sans';
    src: url('/rethink.ttf');
    font-display: swap;
}


body {
    margin: 0;
    font-family: 'Rethink Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);

    /* footer stuff */
    min-height: 101vh;
}

main {
    margin: 0 24vw;
}

a {
    transition: all .25s;
    text-underline-offset: 5px;
    color: var(--text-color);
}

@media screen and (max-width: 640px) {
    main {
        margin: 0 5vw;
    }
}