details {
    background-color: var(--secondary-background-color);
    max-width: fit-content;
    padding: 1rem;
    border: 2px solid var(--border-color);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}