.language-switcher {
    background-color: initial;
    padding: initial;
    border: initial;

    position: relative;
    transition: all .25s;
}

.language-switcher:hover .language-switcher-content {
    display: flex;
}

.language-switcher-text {
    text-decoration: none;
    font-size: var(--language-switcher-link-size);
}

.language-switcher-content {
    display: none;
    position: absolute;
    min-width: max-content;
    z-index: 1;
    background-color: var(--secondary-background-color);
    padding: 1rem;
    border: 2px solid var(--border-color);
    border-radius: 8px;

    flex-direction: column;
    gap: 2px;
}